.widget {
    padding-top: 55px;
    padding-bottom: 45px;
    border-bottom: 1px solid #eee;
    display: inline-block;
    width: 100%;
}
.widget:first-child {
	padding-top: 0;
}

.widget-title  {
    margin-top: 0;
    margin-bottom: 33px;
    font-size: 15px;
    font-weight: 900;
    color: #222;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 13px;
}

.widget-title:after{
    background: #f0b600;
    content: '';
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 27px;
    height: 4px;
}

.widget-title:before{
    background: #898989;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 4px;
}





.page-title{
    margin-top: 0;
    margin-bottom: 33px;
    font-size: 24px;
    font-weight: 900;
    color: #222;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 13px;
}


.page-title:after{
    background: #f0b600;
    content: '';
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 27px;
    height: 4px;
}

.page-title:before{
    background: #898989;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 4px;
}






.related h2{
    margin-top: 0;
    margin-bottom: 33px;
    font-size: 24px;
    font-weight: 900;
    color: #222;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 13px;
}


.related h2:after{
    background: #f0b600;
    content: '';
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 27px;
    height: 4px;
}

.related h2:before{
    background: #898989;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 4px;
}



.widget .decor-1 {
	margin-bottom: 32px;
}

.form-search__input {
	width: 100%;
	height: 50px;
	padding-right: 20px;
	padding-left: 20px;
	font-style: italic;
	border: 1px solid #eee;
	background-color: #f4f4f4;
}

.list-widget {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
.list-widget__item {
	padding-top: 18px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.list-widget__link {
	display: block;
	padding-left: 29px;
	color: #666;
	transition: all 0.3s;
	text-indent: -29px;
}
.list-widget__link:hover {
	color: #222;
	text-decoration: none;
}
.cat-item:before {
	margin-right: 10px;
	font-family: 'Simple-Line-Icons';
	content: '\e079';
	transition: all 0.3s;
}
.cat-item:hover:before {
	font-weight: 400;
}
.list-widget__item:first-child {
	padding-top: 0;
}
.list-widget__item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.post-widget {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #eee;
}
.post-widget:first-child {
	padding-top: 0;
}
.post-widget:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.post-widget__link:hover {
	text-decoration: none;
}
.post-widget__media {
	float: left;
	width: 70px;
	height: 70px;
}
.post-widget__inner {
	margin-left: 90px;
}
.post-widget__content {
	font-size: 13px;
	color: #666;
}
.post-widget__date {
	margin-top: 15px;
	font-size: 12px;
}
.post-widget__date .icon {
	margin-right: 5px;
	color: #666;
}

.list-tags {
	margin-bottom: -6px;
	padding-left: 0;
	list-style-type: none;
}
.list-tags__item {
	display: inline-block;
}
.list-tags .btn {
	margin-right: 5px;
	margin-bottom: 7px;
	padding: 11px 17px;
	font-size: 13px;
}
